{
  "fromaddr": "jason@journalmap.org",
  "toaddr": [
    "jkarl@nmsu.edu",
    "jgillan@nmsu.edu"
  ],
  "user": "<gmail_username>",
  "pw": "<application_password>",
  "journallist": ["zookeys","phytokeys","biorisk","neobiota","jhr","ijm","compcytogen","subtbiol","natureconservation","mycokeys","zse","dez","nl","ab"],
  "urlbase": "http://bdj.pensoft.net/lib/journal_archive.php?journal=",
  "outpath": "/Users/jason/Downloads/"
}