{
  "fromaddr": "jason@journalmap.org",
  "toaddr": ["jkarl@nmsu.edu","jgillan@nmsu.edu"],
  "user": "jakal14@gmail.com",
  "pw": "asgyuckadibjqymu",
  "urlbase": "http://bdj.pensoft.net/lib/journal_archive.php?journal=",
  "outpath": "/Users/jason/Downloads/",
  "outfilebase": "BioStorUpdateList"
}